.advent2019 {
  background-image: url("../images/bg.jpg");
}

.advent2020 {
  background-image: url("../images/aoc2020_bg.jpg");
}

.advent2020 a {
  color: rgb(230,59,25);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, rgb(230,59,25) 1px, rgb(230,59,25) 2px, rgba(0, 0, 0, 0) 2px);
}